
<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h5>Nascimento e Soares Advocacia - 2016-2017</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Supervisor Administrativo Financeiro</h5>
    <p class="card-text">Relacionamento com bancos, contas a pagar e receber, conciliação bancária, extratos, compra
      de benefícios (Plano de Saúde, odontológico, vale combustível, vale transporte, vale
      alimentação), fechamento de ponto eletrônico, controle de atestados, conferencia de folha de
      pagamento, controle de contratos de novos colaboradores e estagiários.
      Compra de material para o escritório, contato com prestadores de serviços de manutenção de ar
      condicionado, sistema de câmera de segurança e alarme e outros serviços eventuais.
    </p>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <h5>Unimed Marquês de Valença - 2009-2016</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Supervisor de Pessoal</h5>
    <p class="card-text">Avaliação de Desempenho, Pesquisa de Clima Organizacional, Manutenção e acompanhamento
          do Plano de Cargos e Salários.
          Gestão de benefícios dos colaboradores (plano de saúde, plano odontológico, vale alimentação,
          vale transporte).
          Anotações gerais na CTPS, Livro de Registro, registro de colaboradores no relógio de ponto,
          Fechamento de ponto, folha de pagamento, férias, 13º salário, rescisões, GRRF, requerimento
          de seguro desemprego, homologação de rescisão junto ao ministério do trabalho. Geração de
          impostos referente a folha de pagamento (FGTS, INSS, IRRF, PIS S/FOLHA), informe de
          rendimentos, emissão de RPA, geração e envio do CAGED, GFIP/SEFIP, RAIS, DIRF. Medicina
          ocupacional (responsável pelo controle e transcrição dos exames solicitados pelo SESI e
          manutenção do arquivo de ASOS (admissional, periódicos e demissional). Implantação do
          sistema Alterdata (DP, Ponto, Ativo Fixo, Bank Folha, INSS). Conhecimento e utilização do
          sistema TOTVS (contas a pagar/receber, caixa e banco, contábil), PROSOFT
        </p>
   </div>
  </div>
</div>

