<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h5>Perfil Profissional</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Administrador, Pós Graduado em Gestão de Pessoas, estudante de programação
        em transição de carreira para área de TI. Mesmo vindo da área adminsitrativa, sempre fui muito ligado à area de TI que foi a
        minha primeira formação Acadêmica. Implantei um novo sistema de departamento pessoal
        na empresa, fiz toda a parametrização do sistema e integração com o banco para envio de
        arquivo cnab, realizava consultas SQL no banco de dados Oracle.
      </p>
    </div>
  </div>
</div>






