<div class="container">
<table id="customers">
  <tr>
    <th>Empresa</th>
    <th>Curso</th>
  </tr>

  <tr>
    <td>Curso em Video</td>
    <td>MySQL</td>
  </tr>
  <tr>
    <td>Curso em Video</td>
    <td>Git e GitHub</td>
  </tr>
  <tr>
    <td>Curso em Video</td>
    <td>Python 3</td>
  </tr>
  <tr>
    <td>Digital Innovation One  </td>
    <td>Lógica de Programação Essencial</td>
  </tr>
  <tr>
    <td>Digital Innovation One  </td>
    <td>Programação para Internet com JavaScript</td>
  </tr>
  <tr>
    <td>Digital Innovation One  </td>
    <td>Introdução a criação de WebSites com HTML5 E CSS3</td>
  </tr>
  <tr>
    <td>Digital Innovation One  </td>
    <td>Estrutura de Dados e Algoritmos</td>
  </tr>
  <tr>
    <td>Fuctura</td>
    <td>Academia Java</td>
  </tr>
</table>

</div>
